html, body {
    height: 100%;
    margin: 0;
    font-family: 'Times New Roman', Times, serif, \;
}

body {
    background: radial-gradient(circle at center, #cacaca, #ffcccb);
    transition: background 0.1s;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.notice {
    font-size: 11px;
    color: #bdbdbd;
    margin-bottom: 20px;
}

button {
    border-radius: 25px; 
    color: white; 
    border: none;

    text-align: center;
    outline: none;

    background-color: #bdbdbd; 
    padding: 10px 20px; 
    margin: 0 auto;
    cursor: pointer; 
    

    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3), 
                inset 0 4px 6px rgba(255, 255, 255, 0.2); 
    
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}


button:hover {
    transform: translateY(-3px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 
                inset 0 6px 8px rgba(255, 255, 255, 0.2); 
}


button:active {
    transform: translateY(1px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); 
}
